nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
}
.nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
}
.logo{
    width: 140px;
}
.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.nav-links a{
    text-decoration: none;
    color: #333;
    font-weight: 400;
}
.btn-signin {
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradient(45deg, #967BB6, #7E57C2);
    font-size: 15px;
    border-radius: 30px;
}